<div data-field="root" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header id="navigationBar" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Title</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a data-field="homeTab" href="#home" class="mdl-layout__tab">Home</a>
            <a data-field="helloTab" href="#hello" class="mdl-layout__tab">Hello</a>
            <a data-field="otherTab" href="#other" class="mdl-layout__tab">Other</a>
        </div>
    </header>

    <div id="navigationDrawer" class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
    </div>

    <main class="mdl-layout__content">
        <!-- MDL is focused on static content sites. For applications better choice is Polymer. -->
        <!-- However, it can be used as well with kind of hack like below.                      -->
        <!-- Fake content panels for MDL because it changes content on tab click automatically. -->
        <span id="home"></span><span id="hello"></span><span id="other"></span>
        <!-- -->
        <section>
            <div data-field="pageContent" class="main-content"></div>
        </section>
    </main>
</div>