<div>
    <p>Welcome to Errai UI!</p>

    <div class="mdl-textfield mdl-js-textfield">
        <input data-field="name" class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Your Name</label>
    </div>

    <button data-field="hello" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-upgraded=",MaterialButton">
        Say Hello
    </button>
</div>